<!-- login.component.html -->

<div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" />
      <div *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
        Username is required.
      </div>
  
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
        Password is required.
      </div>
  
      <button type="submit">Login</button>
      <div *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>
  
    <!-- Display logout button if user is authenticated -->
    <button *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</button>
  </div>
  